<%= form_for @task, :html => { :role => "form"} do |f| %>
  </div> 
  <% if @task.errors.any? %>
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title">
          <% var = @task.errors.count %>
          <%=var %> Fehler 
          <% if var >1%>
          m체ssen
          <% else %>
          muss
          <% end %>
           korrigiert werden:</h3>
      </div>
      <div class="panel-body">
        <ul>
          <% @task.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="checkbox">
    <label>
      <%= f.check_box :done %> <%= f.label :done, "Erledigt" %>
    </label>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: "form-control", placeholder: "Name der Aufgabe" %>
  </div>
  <div class="form-group">
  <%= f.label :delegated_id, "Aufgabe 체bertragen an" %><br>
  <%= f.select :delegated_id, User.all.collect {|u| [ u.username, u.id ] }, { :include_blank => true, :selected => @task.delegated_id}, class: "form-control" %>
</div>  
  <div class="form-group">
    <%= f.label :deadline, "F채llig am" %><br>
    <%= f.date_field :deadline, class: "form-control", placeholder: "F채lligkeit der Aufgabe" %>
  </div>
  <div class="form-group">
    <%= f.label :duration, "Dauer in Stunden" %><br>
    <%= f.text_field :duration, class: "form-control", placeholder: "Dauer der Aufgabe" %>
  </div>
    <div class="form-group">
      <%= f.label :project_id, "Projekt" %><br>
      <%= f.select :project_id, Project.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true, :selected => @task.project_id}, class: "form-control" %>
    </div>
  <div class="actions">
    <%= f.submit "Aufgabe speichern", class: "btn btn-primary" %>  <%= link_to 'Abbrechen', tasks_path, class: "btn btn-default" %>
  </div>    
<% end %>
