<table class="table  table-hover"> 
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Projekt</th>
      <th>Erstellt von</th>
      <th>Übertragen an</th>
      <th>
<% if params[:sorting] == "deadline" %>
  Deadline ^
<% else %>
  <%= link_to "Fällig", tasks_path(sorting: "deadline") %>
<% end %>
</th>
      <th>
<% if params[:sorting] == "duration" %>
  Duration ^
<% else %>
  <%= link_to "Dauer in Std.", tasks_path(sorting: "duration") %>
<% end %> 
</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% tasks.each do |task| %>
      <tr>
        <td>
  <%= form_for task do |f| %>
    <%= f.check_box :done, class: "checkable" %>
  <% end %>
</td>

        <td class="<%= css_class %>"><%= link_to task.name, edit_task_path(task) %></td>
        <td> <%= task.project.name if task.project %> </td>
        <td> <%= task.user.username %> </td>
        <td> <%= task.delegated.username if task.delegated %> </td>
        <td>
      <%= "in " if !task.is_delayed? %> 
      <% tage = task.distance_from_now_in_days.abs %>
      <%= tage %>
      <% if tage > 1%>
      <%= " Tagen" if !task.is_delayed? %> 
      <%= " Tage " if task.is_delayed? %> 
      
      <%else%>
      Tag
      <%end%>
      <%= "her " if task.is_delayed? %> 
    </td>
        <td><%= task.duration %></td>
        <td><%= link_to 'Löschen', task, class: "btn btn-danger btn-sm", method: :delete, data: { confirm: 'Bist du dir sicher?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>