<%= link_to 'Neue Aufgabe', new_task_path, class: "btn btn-success btn-sm" %>

	<%aufgaben =  @todo.count %>
<h2> zu erledigen (<%= aufgaben %> 

	<%if aufgaben > 1%>
	Aufgaben
	<% else %>
	Aufgabe
	<% end%>, 
	<%zeit =  @todo.sum("duration") %>
	<%= zeit%>
	<% if zeit >1 %> 
	Stunden)
	<% else %>
	Stunde)
	<% end %>
</h2>

<%= render partial: "table", locals: {tasks: @todo, css_class: "todo"} %>
<%aufgaben2 =  @done.count %>
<h2>Erledigt (<%= aufgaben2 %> 

	<%if aufgaben2 > 1%>
	Aufgaben
	<% else %>
	Aufgabe
	<% end%>, 
	<%zeit2 =  @done.sum("duration") %>
	<%= zeit2%>
	<% if zeit2 >1 %> 
	Stunden)
	<% else %>
	Stunde)
	<% end %>
</h2>

<%= render partial: "table", locals: {tasks: @done, css_class: "done"} %>
<br>


